<launch> 

	<!-- Name of the YAML file containing the marker positions -->
	<arg name="YAML_file_name" default="putin_marker_positions"/>

	<!-- File containing the the marker positions in the trackable's frame of reference -->
	<arg name="marker_positions_file" default="$(find monocular_pose_estimator)/marker_positions/$(arg YAML_file_name).yaml"/> 

	<group ns="monocular_pose_estimator" >
		<node name="monocular_pose_estimator" pkg="monocular_pose_estimator" type="monocular_pose_estimator" respawn="false" output="screen"> 
			<rosparam command="load" file="$(arg marker_positions_file)"/>
			<param name= "threshold_value" value = "215" />
			<param name= "gaussian_sigma" value = "0.7" />
			<param name= "min_blob_area" value = "22" /> <!--30-->
			<param name= "max_blob_area" value = "520" />   <!-- 750 3-led-->
			<param name= "max_width_height_distortion" value = "0.5" />
			<param name= "max_circular_distortion" value = "0.5" />
			<param name= "back_projection_pixel_tolerance" value = "7.0" />
			<param name= "nearest_neighbour_pixel_tolerance" value = "8" />
			<param name= "certainty_threshold" value = "0.75" />
			<param name= "valid_correspondence_threshold" value = "0.4" />
		</node>
		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find monocular_pose_estimator)/ir_vision.rviz" />
		<node name="pose_topic" pkg="rostopic" type="rostopic" output="screen" launch-prefix="xterm -e" args="echo /monocular_pose_estimator/estimated_pose"/>
	</group>
</launch>
